{% extends "base.html" %}

{% block content %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">The all <span style="font-family: Lato"> UNTITLED. </span>events,</h1>
      <h2 class="masthead-subheading mb-5">You could never want...</h2>
      <form action="{% url 'events:event-list' %}" method="GET">
      <div class="input-group mb-3">
        <input type="text" class="form-control text-muted btn-lg" placeholder="Search for title, description, or organizer..." name="q" value="{{request.GET.q}}">
        <div class="input-group-append">
          <button class="btn btn-warning" type="submit">Search</button>
        </div>
        </div>
       </form>
  </div>
</div>
        <a href="{% url 'events:event-list' %}" class="btn btn-primary btn-xl rounded-pill mt-5">Explore All Events</a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>



{% endblock %}