{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<header class="masthead">
  <div class="masthead-content">
    <div class="container">
        <div class="jumbotron">
          <div class="row text-white justify-content-center">
            <div class="col-6">
                    <h2 >{{user.first_name}} {{user.last_name}}</h2>
                    <p><strong>Username: </strong> {{user.username}}</p>
                    <p><strong>Email: </strong> {{user.email}}</p>          
                    <img src="{{user.profile.image.url}}" alt="" class="img-circle img-responsive">
                    <div class="row">
                      <div class="col-6">
                        <h2><strong>245</strong></h2>                    
                        <p><small>Following</small></p>
                      </div>
                      <div class="col-6">
                        <h2><strong> 20,7K </strong></h2>                    
                        <p><small>Followers</small></p>
                      </div>
                    </div>
                    <div class="row">
                  <div class="col-6">
                    <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                  </div>
                  <div class="col-6">
                    <a href= "{% url 'events:update-profile' %}" ><button class="btn btn-info btn-block mt-4"><span class="fa fa-user"></span> Edit</button></a>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock %}